# <center>        **Introduction to Data Science (S2-22_DSECLZG532)-ASSIGNMENT**</center>

## Group No: IDS Group 40

## Group Member Names:
1.GADI SAI SURYA SRI HARSHA (2023da04172@wilp.bits-pilani.ac.in)
2.SUKANYA HALDER (2023da04397@wilp.bits-pilani.ac.in)
3.AAQIL AL HASSAN (2023da04101@wilp.bits-pilani.ac.in)
4.DANWE ASHUTOSH HEMRAJ (2023da04478@wilp.bits-pilani.ac.in)

# 1. Business Understanding

Students are expected to identify an analytical problem of your choice. You have to detail the Business Understanding part of your problem under this heading which basically addresses the following questions.

   1. What is the business problem that you are trying to solve?
   2. What data do you need to answer the above problem?
   3. What are the different sources of data?
   4. What kind of analytics task are you performing?

Score: 1 Mark in total (0.25 mark each)

1. We need to understand preference of users while purchasing a property based on various factors. We can understand the buying behaviors average Indians in Tier1 and Tier2 cities whether they want to purchase Under construction or ready to occupy properties, what sizes and bhks they prefer to purchase.

2. We need data related to property sales containing multiple attributes such as builder, bhk, cost, location, size, size per sqft etc.

3. Datasets from Kaggle website such as Housing Data for Metropolitan Cities in India, Makaan.com website data, etc.

4. We will analyze real estate sales based on location, cost, size, bhk, builder, etc. to understand which factors affect the buyers while closing a sale

# 2. Data Acquisition

For the problem identified , find an appropriate data set (Your data set must
be unique with minimum **20 features and 10k rows**) from any public data source.

---



## 2.1 Download the data directly

In [7]:
import pandas as pd
import os
import opendatasets as od

dataset = 'https://www.kaggle.com/datasets/manishmathias/residential-property-price-indian-cities-dataset/download?datasetVersionNumber=2'
od.download(dataset)

data_dir = './residential-property-price-indian-cities-dataset'
os.listdir(data_dir)

Skipping, found downloaded files in ".\residential-property-price-indian-cities-dataset" (use force=True to force download)

['Makaan_Properties_Buy.csv']

## 2.2 Code for converting the above downloaded data into a dataframe

In [13]:
df = pd.read_csv('residential-property-price-indian-cities-dataset/Makaan_Properties_Buy.csv',sep="\t",encoding='cp1252')

  Property_Name,Property_id,Property_type,Property_status,Price_per_unit_area,Posted_On,Project_URL,builder_id,Builder_name,Property_building_status,City_id,City_name,No_of_BHK,Locality_ID,Locality_Name,Longitude,Latitude,Price,Size,Sub_urban_ID,Sub_urban_name,description,is_furnished,listing_domain_score,is_plot,is_RERA_registered,is_Apartment,is_ready_to_move,is_commercial_Listing,is_PentaHouse,is_studio,Listing_Category
0  Arkiton Luxe,15446514,Apartment,Under Construc...
1  Keshav Akshar Ocean Pearl,15367414,Apartment,U...
2  Vishwa Opulence,14683118,Apartment,Ready to mo...

## 2.3 Confirm the data has been correctly by displaying the first 5 and last 5 records.

In [18]:
##---------display first 5 records from dataset------------------##
first_five_rows = df.head(5)
print(first_five_rows)

last_five_rows = df.tail(5)
print(last_five_rows)

  Property_Name,Property_id,Property_type,Property_status,Price_per_unit_area,Posted_On,Project_URL,builder_id,Builder_name,Property_building_status,City_id,City_name,No_of_BHK,Locality_ID,Locality_Name,Longitude,Latitude,Price,Size,Sub_urban_ID,Sub_urban_name,description,is_furnished,listing_domain_score,is_plot,is_RERA_registered,is_Apartment,is_ready_to_move,is_commercial_Listing,is_PentaHouse,is_studio,Listing_Category
0  Arkiton Luxe,15446514,Apartment,Under Construc...
1  Keshav Akshar Ocean Pearl,15367414,Apartment,U...
2  Vishwa Opulence,14683118,Apartment,Ready to mo...
3  Satyam Sarjan,5476295,Apartment,Ready to move,...
4  Navkar Sunflower,15477040,Apartment,Under Cons...
       Property_Name,Property_id,Property_type,Property_status,Price_per_unit_area,Posted_On,Project_URL,builder_id,Builder_name,Property_building_status,City_id,City_name,No_of_BHK,Locality_ID,Locality_Name,Longitude,Latitude,Price,Size,Sub_urban_ID,Sub_urban_name,description,is_furnished,listing_domain_score,is_plot,is_RERA_registered,is_Apartment,is_ready_to_move,is_commercial_Listing,is_PentaHouse,is_studio,Listing_Category
332091  Rajlaxmi RaajLaxmi Towers,10324765,Apartment,U...
332092  Rajlaxmi RaajLaxmi Towers,15076701,Apartment,U...
332093  Rajlaxmi RaajLaxmi Towers,10324762,Apartment,U...
332094  Rajlaxmi RaajLaxmi Towers,15076700,Apartment,U...
332095  Rajlaxmi RaajLaxmi Towers,14683740,Apartment,U...

## 2.4 Display the column headings, statistical information, description and statistical summary of the data.

In [ ]:
##---------Type the code below this line------------------##

## 2.5 Write your observations from the above.
1. Size of the dataset
2. What type of data attributes are there?
3. Is there any null data that has to be cleaned?

Score: 2 Marks in total (0.25 marks for 2.1, 0.25 marks for 2.2, 0.5 marks for 2.3, 0.25 marks for 2.4, 0.75 marks for 2.5)

1. Size of the dataset - rows:332095 / cols:36 / size: 178 MB
2. Type of data attributes - numeric, categorical, boolean
3. No, null data is not present in the data

# 3. Data Preparation

If input data is numerical or categorical, do 3.1, 3.2 and 3.4
If input data is text, do 3.3 and 3.4

## 3.1 Check for

* duplicate data
* missing data
* data inconsistencies

In [ ]:
##---------Type the code below this line------------------##

## 3.2 Apply techiniques
* to remove duplicate data
* to impute or remove missing data
* to remove data inconsistencies

In [ ]:
##---------Type the code below this line------------------##

## 3.3 Encode categorical data

In [ ]:
##---------Type the code below this line------------------##

In [ ]:
##---------Type the code below this line------------------##

## 3.4 Report

Mention and justify the method adopted
* to remove duplicate data, if present
* to impute or remove missing data, if present
* to remove data inconsistencies, if present

OR for textdata
* How many tokens after step 3?
* how may tokens after stop words filtering?

If the any of the above are not present, then also add in the report below.

Score: 2 Marks (based on the dataset you have, the data prepreation you had to do and report typed, marks will be distributed between 3.1, 3.2, 3.3 and 3.4)

In [ ]:
##---------Type the code below this line------------------##

In [ ]:
##---------Type the code below this line------------------##

## 3.5 Identify the target variables.

* Separate the data from the target such that the dataset is in the form of (X,y) or (Features, Label)

* Discretize / Encode the target variable or perform one-hot encoding on the target or any other as and if required.

* Report the observations

Score: 1 Mark

In [ ]:
##---------Type the code below this line------------------##

# 4. Data Exploration using various plots

## 4.1 Scatter plot of each quantitative attribute with the target.

Score: 1 Mark

In [ ]:
##---------Type the code below this line------------------##

## 4.2 EDA using visuals
* Use (minimum) 2 plots (pair plot, heat map, correlation plot, regression plot...) to identify the optimal set of attributes that can be used for classification.
* Name them, explain why you think they can be helpful in the task and perform the plot as well. Unless proper justification for the choice of plots given, no credit will be awarded.

Score: 2 Marks

In [ ]:
##---------Type the code below this line------------------##

# 5. Data Wrangling

## 5.1 Univariate Filters

#### Numerical and Categorical Data
* Identify top 5 significant features by evaluating each feature independently with respect to the target/other variable by exploring
1. Mutual Information (Information Gain)
2. Gini index
3. Gain Ratio
4. Chi-Squared test
5. Strenth of Association

(From the above 5 you are required to use only any <b>two</b>)



Score: 3 Marks

In [ ]:
##---------Type the code below this line------------------##

## 5.2 Report observations

Write your observations from the results of each method. Clearly justify your choice of the method.

Score 1 mark

In [ ]:
##---------Type the code below this line------------------##

# 6. Implement Machine Learning Techniques

Use any 2 ML tasks
1. Classification  

2. Clustering  

3. Association Analysis

4. Anomaly detection

You may use algorithms included in the course, e.g. Decision Tree, K-means etc. or an algorithm you learnt on your own with a brief explanation.
A clear justification have to be given for why a certain algorithm was chosen to address your problem.

Score: 4 Marks (2 marks each for each algorithm)

## 6.1 ML technique 1 + Justification

In [ ]:
##---------Type the code below this line------------------##

## 6.2 ML technique 2 + Justification

In [ ]:
##---------Type the code below this line------------------##

## 7. Conclusion

Compare the performance of the ML techniques used.

Derive values for preformance study metrics like accuracy, precision, recall, F1 Score, AUC-ROC etc to compare the ML algos and plot them. A proper comparision based on different metrics should be done and not just accuracy alone, only then the comparision becomes authentic. You may use Confusion matrix, classification report, Word cloud etc as per the requirement of your application/problem.

Score 1 Mark

In [ ]:
##---------Type the code below this line------------------##

## 8. Solution

What is the solution that is proposed to solve the business problem discussed in Section 1. Also share your learnings while working through solving the problem in terms of challenges, observations, decisions made etc.

Score 2 Marks

--------------Type the answers below this line--------------

##---------Type the answer below this line------------------##

##NOTE
All Late Submissions will incur a penalty of -2 marks. Do ensure on time submission to avoid penalty.

Good Luck!!!