# <center>        **Introduction to Data Science (S2-22_DSECLZG532)-ASSIGNMENT**</center>

## Group No: IDS Group 40

## Group Member Names:
1.GADI SAI SURYA SRI HARSHA (2023da04172@wilp.bits-pilani.ac.in)
2.SUKANYA HALDER (2023da04397@wilp.bits-pilani.ac.in)
3.AAQIL AL HASSAN (2023da04101@wilp.bits-pilani.ac.in)
4.DANWE ASHUTOSH HEMRAJ (2023da04478@wilp.bits-pilani.ac.in)

# 1. Business Understanding

Students are expected to identify an analytical problem of your choice. You have to detail the Business Understanding part of your problem under this heading which basically addresses the following questions.

   1. What is the business problem that you are trying to solve?
   2. What data do you need to answer the above problem?
   3. What are the different sources of data?
   4. What kind of analytics task are you performing?

Score: 1 Mark in total (0.25 mark each)

##----------- Business Understanding -------------------
1. We need to understand preference of users while purchasing a property based on various factors. We can understand the buying behaviors average Indians in Tier1 and Tier2 cities whether they want to purchase Under construction or ready to occupy properties, what sizes and bhks they prefer to purchase.

2. We need data related to property sales containing multiple attributes such as builder, bhk, cost, location, size, size per sqft etc.

3. Datasets from Kaggle website such as Housing Data for Metropolitan Cities in India, Makaan.com website data, etc.

4. We will analyze real estate sales based on location, cost, size, bhk, builder, etc. to understand which factors affect the buyers while closing a sale

----------##

# 2. Data Acquisition

For the problem identified , find an appropriate data set (Your data set must
be unique with minimum **20 features and 10k rows**) from any public data source.

---



## 2.1 Download the data directly

In [1]:
import pandas as pd
import os
import opendatasets as od
import numpy as np

dataset = 'https://www.kaggle.com/datasets/manishmathias/residential-property-price-indian-cities-dataset/download?datasetVersionNumber=2'
od.download(dataset)

data_dir = './residential-property-price-indian-cities-dataset'
os.listdir(data_dir)

Skipping, found downloaded files in ".\residential-property-price-indian-cities-dataset" (use force=True to force download)

['Makaan_Properties_Buy.csv']

## 2.2 Code for converting the above downloaded data into a dataframe

In [2]:
df = pd.read_csv('residential-property-price-indian-cities-dataset/Makaan_Properties_Buy.csv',header=0,encoding='cp1252')

## 2.3 Confirm the data has been correctly by displaying the first 5 and last 5 records.

In [3]:
##---------display first 5 records from dataset------------------##
first_five_rows = df.head(5)
print(first_five_rows)

last_five_rows = df.tail(5)
print(last_five_rows)

               Property_Name  Property_id Property_type     Property_status  \
0               Arkiton Luxe     15446514     Apartment  Under Construction
1  Keshav Akshar Ocean Pearl     15367414     Apartment  Under Construction
2            Vishwa Opulence     14683118     Apartment       Ready to move
3              Satyam Sarjan      5476295     Apartment       Ready to move
4           Navkar Sunflower     15477040     Apartment  Under Construction

  Price_per_unit_area   Posted_On  \
0               4,285   1 day ago
1               7,000  2 days ago
2               5,752  2 days ago
3               2,486  5 days ago
4               5,324  8 days ago

                                         Project_URL   builder_id  \
0  https://www.makaan.com/ahmedabad/arkiton-life-...  100563465.0
1  https://www.makaan.com/ahmedabad/keshav-naraya...  100009433.0
2  https://www.makaan.com/ahmedabad/vishwa-develo...  100207731.0
3  https://www.makaan.com/ahmedabad/satyam-develo...     101303.0
4  https://www.makaan.com/ahmedabad/navkar-buildc...    1484209.0

                  Builder_name Property_building_status  ...  is_furnished  \
0           Arkiton life Space                   ACTIVE  ...   Unfurnished
1         Keshav Narayan Group                   ACTIVE  ...   Unfurnished
2  Vishwa Developers Ahmedabad                   ACTIVE  ...   Unfurnished
3            Satyam Developers                   ACTIVE  ...   Unfurnished
4    Navkar Buildcon Ahmedabad                   ACTIVE  ...   Unfurnished

  listing_domain_score is_plot  is_RERA_registered is_Apartment  \
0                  4.0   False                True         True
1                  4.0   False                True         True
2                  4.0   False               False         True
3                  4.0   False               False         True
4                  4.0   False                True         True

   is_ready_to_move  is_commercial_Listing is_PentaHouse is_studio  \
0             False                  False         False     False
1             False                  False         False     False
2              True                  False         False     False
3              True                  False         False     False
4             False                  False         False     False

   Listing_Category
0              sell
1              sell
2              sell
3              sell
4              sell

[5 rows x 32 columns]
                    Property_Name  Property_id Property_type  \
332091  Rajlaxmi RaajLaxmi Towers     10324765     Apartment
332092  Rajlaxmi RaajLaxmi Towers     15076701     Apartment
332093  Rajlaxmi RaajLaxmi Towers     10324762     Apartment
332094  Rajlaxmi RaajLaxmi Towers     15076700     Apartment
332095  Rajlaxmi RaajLaxmi Towers     14683740     Apartment

           Property_status Price_per_unit_area     Posted_On  \
332091  Under Construction               9,826  4 months ago
332092  Under Construction               8,568  4 months ago
332093  Under Construction               9,861  4 months ago
332094  Under Construction               8,813  4 months ago
332095  Under Construction               9,859  4 months ago

                                              Project_URL  builder_id  \
332091  https://www.makaan.com/mumbai/rajlaxmi-develop...    561277.0
332092  https://www.makaan.com/mumbai/rajlaxmi-develop...    561277.0
332093  https://www.makaan.com/mumbai/rajlaxmi-develop...    561277.0
332094  https://www.makaan.com/mumbai/rajlaxmi-develop...    561277.0
332095  https://www.makaan.com/mumbai/rajlaxmi-develop...    561277.0

                      Builder_name Property_building_status  ...  \
332091  Rajlaxmi Developers Mumbai                   ACTIVE  ...
332092  Rajlaxmi Developers Mumbai                   ACTIVE  ...
332093  Rajlaxmi Developers Mumbai                   ACTIVE  ...
332094  Rajlaxmi Developers Mumbai                   ACTIVE  ...
332095  Rajlaxmi Developers Mumbai                   ACTIVE  ...

        is_furnished listing_domain_score is_plot  is_RERA_registered  \
332091   Unfurnished                  4.0   False                True
332092   Unfurnished                  4.0   False                True
332093   Unfurnished                  4.0   False                True
332094   Unfurnished                  4.0   False                True
332095   Unfurnished                  4.0   False                True

       is_Apartment  is_ready_to_move  is_commercial_Listing is_PentaHouse  \
332091         True             False                  False         False
332092         True             False                  False         False
332093         True             False                  False         False
332094         True             False                  False         False
332095         True             False                  False         False

       is_studio  Listing_Category
332091     False              sell
332092     False              sell
332093     False              sell
332094     False              sell
332095     False              sell

[5 rows x 32 columns]

## 2.4 Display the column headings, statistical information, description and statistical summary of the data.

In [21]:
##---------Column Headings------------------##
print(df.columns.tolist())


##---------Statistical Information------------------##
df.shape

##---------Data Description------------------##
summary = df.info()
print(summary)

['Property_Name', 'Property_id', 'Property_type', 'Property_status', 'Price_per_unit_area', 'Posted_On', 'Project_URL', 'builder_id', 'Builder_name', 'Property_building_status', 'City_id', 'City_name', 'No_of_BHK', 'Locality_ID', 'Locality_Name', 'Longitude', 'Latitude', 'Price', 'Size', 'Sub_urban_ID', 'Sub_urban_name', 'description', 'is_furnished', 'listing_domain_score', 'is_plot', 'is_RERA_registered', 'is_Apartment', 'is_ready_to_move', 'is_commercial_Listing', 'is_PentaHouse', 'is_studio', 'Listing_Category']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332096 entries, 0 to 332095
Data columns (total 32 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Property_Name             217826 non-null  object
 1   Property_id               332096 non-null  int64
 2   Property_type             332096 non-null  object
 3   Property_status           271654 non-null  object
 4   Price_per_unit_area       332096 non-null  object
 5   Posted_On                 332096 non-null  object
 6   Project_URL               332096 non-null  object
 7   builder_id                149978 non-null  float64
 8   Builder_name              149978 non-null  object
 9   Property_building_status  332096 non-null  object
 10  City_id                   332096 non-null  int64
 11  City_name                 332096 non-null  object
 12  No_of_BHK                 332096 non-null  object
 13  Locality_ID               332096 non-null  int64
 14  Locality_Name             332094 non-null  object
 15  Longitude                 332096 non-null  float64
 16  Latitude                  332096 non-null  float64
 17  Price                     332096 non-null  object
 18  Size                      332096 non-null  object
 19  Sub_urban_ID              332096 non-null  int64
 20  Sub_urban_name            332096 non-null  object
 21  description               332095 non-null  object
 22  is_furnished              332096 non-null  object
 23  listing_domain_score      332096 non-null  float64
 24  is_plot                   332096 non-null  bool
 25  is_RERA_registered        332096 non-null  bool
 26  is_Apartment              332096 non-null  bool
 27  is_ready_to_move          332096 non-null  bool
 28  is_commercial_Listing     332096 non-null  bool
 29  is_PentaHouse             332096 non-null  bool
 30  is_studio                 332096 non-null  bool
 31  Listing_Category          332096 non-null  object
dtypes: bool(7), float64(4), int64(4), object(17)
memory usage: 65.6+ MB
None

## 2.5 Write your observations from the above.
1. Size of the dataset
2. What type of data attributes are there?
3. Is there any null data that has to be cleaned?

Score: 2 Marks in total (0.25 marks for 2.1, 0.25 marks for 2.2, 0.5 marks for 2.3, 0.25 marks for 2.4, 0.75 marks for 2.5)

1. Size of the dataset - rows:332095 / cols:32 / size: 178 MB
2. Type of data attributes - numeric, categorical, boolean
3. No, null data is not present in the data

# 3. Data Preparation

If input data is numerical or categorical, do 3.1, 3.2 and 3.4
If input data is text, do 3.3 and 3.4

## 3.1 Check for

* duplicate data
* missing data
* data inconsistencies

In [89]:
print('############# Duplicate Rows #################')
duplicate = df[df.duplicated()]
print('Duplicate Rows --', duplicate,'\n','\n')


print('############# Missing Values #################')
print('Missing Values if any -- ',df.isna().values.any(),'\n')
print('Missing Values Count Per Attribute: \n', df.isnull().sum(),'\n')


df[df.isnull().any(axis=1)]

#df[df['Property_Name'].isna()]
#df[df['Property_status'].isna()]
#df[df['builder_id'].isna()]
#df[df['Builder_name'].isna()]
#df[df['Locality_Name'].isna()]
#df[df['description'].isna()]

print('############# Data Inconsistencies #################')
# Price_per_unit_area should be float
#df['Price_per_unit_area'] = df['Price_per_unit_area'].str.replace(',', '')
#df["Price_per_unit_area"] = pd.to_numeric(df["Price_per_unit_area"], downcast="float")

# No_of_BHK should be numeric float
############RECHECK###############
#df['No_of_BHK'] = df['No_of_BHK'].str.replace('BHK', '')
#df['No_of_BHK'] = df['No_of_BHK'].str.replace('RK', '')
#df["No_of_BHK"] = pd.to_numeric(df["No_of_BHK"], downcast="float")

# Price should be float
#df['Price'] = df['Price'].str.replace(',', '')
#df["Price"] = pd.to_numeric(df["Price"], downcast="float")

# Size should be float
#df['Size'] = df['Size'].str.replace('sq ft', '')
#df['Size'] = df['Size'].str.replace(',', '')
#df["Size"] = pd.to_numeric(df["Size"], downcast="float")
############RENAME SIZE COLUMN to SIZE_SQFT###############
df = df.rename(columns={'Size': 'Size_sqft'})

print(df.columns.tolist())
summary = df.info()
print(summary)

############# Duplicate Rows #################
Duplicate Rows -- Empty DataFrame
Columns: [Property_Name, Property_id, Property_type, Property_status, Price_per_unit_area, Posted_On, Project_URL, builder_id, Builder_name, Property_building_status, City_id, City_name, No_of_BHK, Locality_ID, Locality_Name, Longitude, Latitude, Price, Size_sqft, Sub_urban_ID, Sub_urban_name, description, is_furnished, listing_domain_score, is_plot, is_RERA_registered, is_Apartment, is_ready_to_move, is_commercial_Listing, is_PentaHouse, is_studio, Listing_Category]
Index: []

[0 rows x 32 columns]


############# Missing Values #################
Missing Values if any --  True

Missing Values Count Per Attribute:
 Property_Name               114270
Property_id                      0
Property_type                    0
Property_status              60442
Price_per_unit_area              0
Posted_On                        0
Project_URL                      0
builder_id                  182118
Builder_name                182118
Property_building_status         0
City_id                          0
City_name                        0
No_of_BHK                        0
Locality_ID                      0
Locality_Name                    2
Longitude                        0
Latitude                         0
Price                            0
Size_sqft                        0
Sub_urban_ID                     0
Sub_urban_name                   0
description                      1
is_furnished                     0
listing_domain_score             0
is_plot                          0
is_RERA_registered               0
is_Apartment                     0
is_ready_to_move                 0
is_commercial_Listing            0
is_PentaHouse                    0
is_studio                        0
Listing_Category                 0
dtype: int64

############# Data Inconsistencies #################
['Property_Name', 'Property_id', 'Property_type', 'Property_status', 'Price_per_unit_area', 'Posted_On', 'Project_URL', 'builder_id', 'Builder_name', 'Property_building_status', 'City_id', 'City_name', 'No_of_BHK', 'Locality_ID', 'Locality_Name', 'Longitude', 'Latitude', 'Price', 'Size_sqft', 'Sub_urban_ID', 'Sub_urban_name', 'description', 'is_furnished', 'listing_domain_score', 'is_plot', 'is_RERA_registered', 'is_Apartment', 'is_ready_to_move', 'is_commercial_Listing', 'is_PentaHouse', 'is_studio', 'Listing_Category']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332096 entries, 0 to 332095
Data columns (total 32 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Property_Name             217826 non-null  object
 1   Property_id               332096 non-null  int64
 2   Property_type             332096 non-null  object
 3   Property_status           271654 non-null  object
 4   Price_per_unit_area       332096 non-null  float32
 5   Posted_On                 332096 non-null  object
 6   Project_URL               332096 non-null  object
 7   builder_id                149978 non-null  float64
 8   Builder_name              149978 non-null  object
 9   Property_building_status  332096 non-null  object
 10  City_id                   332096 non-null  int64
 11  City_name                 332096 non-null  object
 12  No_of_BHK                 332096 non-null  float32
 13  Locality_ID               332096 non-null  int64
 14  Locality_Name             332094 non-null  object
 15  Longitude                 332096 non-null  float64
 16  Latitude                  332096 non-null  float64
 17  Price                     332096 non-null  float64
 18  Size_sqft                 332096 non-null  float32
 19  Sub_urban_ID              332096 non-null  int64
 20  Sub_urban_name            332096 non-null  object
 21  description               332095 non-null  object
 22  is_furnished              332096 non-null  object
 23  listing_domain_score      332096 non-null  float64
 24  is_plot                   332096 non-null  bool
 25  is_RERA_registered        332096 non-null  bool
 26  is_Apartment              332096 non-null  bool
 27  is_ready_to_move          332096 non-null  bool
 28  is_commercial_Listing     332096 non-null  bool
 29  is_PentaHouse             332096 non-null  bool
 30  is_studio                 332096 non-null  bool
 31  Listing_Category          332096 non-null  object
dtypes: bool(7), float32(3), float64(5), int64(4), object(13)
memory usage: 61.8+ MB
None

## 3.2 Apply techiniques
* to remove duplicate data
* to impute or remove missing data
* to remove data inconsistencies

In [6]:
##---------Type the code below this line------------------##

## 3.3 Encode categorical data

In [7]:
##---------Type the code below this line------------------##

In [8]:
##---------Type the code below this line------------------##

## 3.4 Report

Mention and justify the method adopted
* to remove duplicate data, if present
* to impute or remove missing data, if present
* to remove data inconsistencies, if present

OR for textdata
* How many tokens after step 3?
* how may tokens after stop words filtering?

If the any of the above are not present, then also add in the report below.

Score: 2 Marks (based on the dataset you have, the data prepreation you had to do and report typed, marks will be distributed between 3.1, 3.2, 3.3 and 3.4)

In [9]:
##---------Type the code below this line------------------##

In [10]:
##---------Type the code below this line------------------##

## 3.5 Identify the target variables.

* Separate the data from the target such that the dataset is in the form of (X,y) or (Features, Label)

* Discretize / Encode the target variable or perform one-hot encoding on the target or any other as and if required.

* Report the observations

Score: 1 Mark

In [11]:
##---------Type the code below this line------------------##

# 4. Data Exploration using various plots

## 4.1 Scatter plot of each quantitative attribute with the target.

Score: 1 Mark

In [12]:
##---------Type the code below this line------------------##

## 4.2 EDA using visuals
* Use (minimum) 2 plots (pair plot, heat map, correlation plot, regression plot...) to identify the optimal set of attributes that can be used for classification.
* Name them, explain why you think they can be helpful in the task and perform the plot as well. Unless proper justification for the choice of plots given, no credit will be awarded.

Score: 2 Marks

In [13]:
##---------Type the code below this line------------------##

# 5. Data Wrangling

## 5.1 Univariate Filters

#### Numerical and Categorical Data
* Identify top 5 significant features by evaluating each feature independently with respect to the target/other variable by exploring
1. Mutual Information (Information Gain)
2. Gini index
3. Gain Ratio
4. Chi-Squared test
5. Strenth of Association

(From the above 5 you are required to use only any <b>two</b>)



Score: 3 Marks

In [14]:
##---------Type the code below this line------------------##

## 5.2 Report observations

Write your observations from the results of each method. Clearly justify your choice of the method.

Score 1 mark

In [15]:
##---------Type the code below this line------------------##

# 6. Implement Machine Learning Techniques

Use any 2 ML tasks
1. Classification  

2. Clustering  

3. Association Analysis

4. Anomaly detection

You may use algorithms included in the course, e.g. Decision Tree, K-means etc. or an algorithm you learnt on your own with a brief explanation.
A clear justification have to be given for why a certain algorithm was chosen to address your problem.

Score: 4 Marks (2 marks each for each algorithm)

## 6.1 ML technique 1 + Justification

In [16]:
##---------Type the code below this line------------------##

## 6.2 ML technique 2 + Justification

In [17]:
##---------Type the code below this line------------------##

## 7. Conclusion

Compare the performance of the ML techniques used.

Derive values for preformance study metrics like accuracy, precision, recall, F1 Score, AUC-ROC etc to compare the ML algos and plot them. A proper comparision based on different metrics should be done and not just accuracy alone, only then the comparision becomes authentic. You may use Confusion matrix, classification report, Word cloud etc as per the requirement of your application/problem.

Score 1 Mark

In [18]:
##---------Type the code below this line------------------##

## 8. Solution

What is the solution that is proposed to solve the business problem discussed in Section 1. Also share your learnings while working through solving the problem in terms of challenges, observations, decisions made etc.

Score 2 Marks

--------------Type the answers below this line--------------

##---------Type the answer below this line------------------##

##NOTE
All Late Submissions will incur a penalty of -2 marks. Do ensure on time submission to avoid penalty.

Good Luck!!!